      body {
        background-color: darkslateblue;
        font-family: Arial, sans-serif;
        color: white
      }
      input, select {
        margin: 6px 4px;
      }
      input[type=text] {
        width: 75%;
        padding: 4px 4px;
        box-sizing: border-box;
      }
      input[type=text]:focus {
        outline: none;
        border-color: indigo;
        border-radius: 7px;
        box-shadow:0 0 7px indigo;
        transition: box-shadow linear 1s;
      }
      input[type=range]:focus {
        outline: 4px solid indigo;
      }
      .button {
        margin-left: 30%;
        margin-right: 30%;
      }
      .form {
        background-color: lightslategray;
        box-shadow: 0 0 2px black;
        color: white;
        padding: 8px;
        width: 75%
      }
